:root {
    --background-color: #080006;
    --background-color2: #0a0008;
    --background-color3: #0d000a;
    --svg-background-color: #1c0f19;
    --color: #f213c4;
    --link: #db00c5;
    --link-hover: #ff21e9;
    --link-visited: #d000db;
    --border-color: #140010;
    --border-color2: #1c0016;
}
body {
    background-color: var(--background-color);

    display: flex;
    margin: 0;
    padding: 0;
}
p {
    font-size: 1em;
}
span {
    font-size: 1em;    
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.67em;
}
strong {
    font-size: 1.1em;
}
a {
    font-size: 1em;
}
svg {
    background-color: var(--svg-background-color);

    height: 3.5em;
}
input[name="page"] {
    display: none;
}

.sidebar-item {
    text-align: center;
    text-decoration: underline;

    justify-content: space-evenly;
}
.sidebar-item h3 {
    color: var(--link);
}
.sidebar-item h3:hover {
    color: var(--link-hover);
}
.vertical-hr {
    background-color: var(--border-color2);

    border: none;
    height: auto;
    width: 2px;
    margin: 0;
}

#container {
    font-family: monospace; /*add option for DM Mono*/
    font-size: 16px;
    color: var(--color);
    background-color: var(--background-color2);

    box-sizing: border-box;
    overflow: hidden;
    border: 0.5em solid var(--border-color);
    width: 70em;
    margin: 8px auto;
}
#container a:link {
    color: var(--link);
}
#container a:visited {
    color: var(--link-visited);
}
#container a:hover {
    color: var(--link-hover);
}
#main {
    display: flex;
    flex-direction: row;
}
#main-page {
    flex-grow: 1;
    padding: 1em;
}
#sidebar {
    background-color: var(--background-color3);

    display: flex;
    flex-direction: column;
    flex-shrink: 10;
    border-right: 0.33em solid var(--border-color2);
    min-width: 11em;
    max-width: 20%;
    width: auto
}
#sidebar hr {
    background-color: var(--border-color2);

    flex-shrink: 0;
    border: none;
    height: 2px;
    width: 100%;
    margin: 0;
}
#header {
    background-color: var(--background-color3);

    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    box-sizing: border-box;
    border-bottom: 0.33em solid var(--border-color2);
    width: 100%;
}
#header-left, #header-right {
    align-items: center;
}
#footer {
    text-align: center;
    background-color: var(--background-color3);

    box-sizing: border-box;
    border-top: 0.33em solid var(--border-color2);
    width: 100%;
}

#main-page > div {
    display: none;
}
#home-selector:checked ~ #home {
    display: block;
}
#more-me-selector:checked ~ #more-me {
    display: block;
}
#faq-selector:checked ~ #faq {
    display: block;
}
#sexual-interests-selector:checked ~ #sexual-interests {
    display: block;
}
#mental-health-selector:checked ~ #mental-health {
    display: block;
}
#can-i-cancel-myself-selector:checked ~ #can-i-cancel-myself {
    display: block;
}
#projects-selector:checked ~ #projects {
    display: block;
}
#links-selector:checked ~ #links {
    display: block;
}
#articles-findings-etc-selector:checked ~ #articles-findings-etc {
    display: block;
}
#my-top-x-selector:checked ~ #my-top-x {
    display: block;
}
#featured-webbed-sites-selector:checked ~ #featured-webbed-sitess {
    display: block;
}
#contact-me-selector:checked ~ #contact-me {
    display: block;
}
